body {
    background-color: gray;
    font-size: 20px;
}

#content {
    margin: 40px auto;
    max-width: 60%;
    border: 1px solid dark gray;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;

}

hr {
    background-color: #035f9c;
    height: 3px;
    width: 80px;
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 50%;
    display: block;
    margin: 50px auto;
}

topics {
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
}

.list {
    list-style-type: none;
}
